volumes/nginx/html/*
volumes/jenkins/*
volumes/nexus/*
volumes/sonarqube/*
volumes/selenium/*
volumes/mysql-sonarqube/data/*

!volumes/mysql-sonarqube/data/.gitignore
!volumes/nginx/html/index.html
!volumes/nginx/html/favicon.ico
!volumes/nginx/nginx.conf
!volumes/jenkins/README.md
!volumes/nexus/README.md
!volumes/sonarqube/README.md
!volumes/mysql-sonarqube/README.md
!volumes/mysql-sonarqube/esperar-inicio-servicio-mysql.sh
!volumes/selenium/README.md

