volumes/nginx/html/*
volumes/jenkins/*
volumes/nexus/*
volumes/sonarqube/*
volumes/selenium/*
volumes/mysql/*

!volumes/mysql/.gitignore
!volumes/nginx/html/index.html
!volumes/nginx/html/favicon.ico
!volumes/nginx/nginx.conf
!volumes/jenkins/README.md
!volumes/nexus/README.md
!volumes/sonarqube/README.md
!volumes/mysql/README.md
!volumes/selenium/README.md

